@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1f1f1f;
    font-family: 'Poppins', sans-serif;
}
body {
    background: url("bg.jpg") center center/cover no-repeat;
}
.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.main .main__wrapper {
    padding: 0 10px;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    margin: 0 auto 30px auto;
}
.main h1 {
    display: block;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 66px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(40, 40, 0, 0.8);
}
.timer {
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: center;
    gap: 25px;
} 
.timer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    background: rgba(255, 255, 255, .9);
    box-shadow: 2px 5px 10px 2px rgba(60, 60, 60, 0.7);
    border-radius: 20px;
}

.timer__item:last-child {
    background: rgba(51, 23, 5, 0.9);
}

.timer__item:last-child span, .timer__item:last-child p {
    color: #fff;
}

.timer__item span {
    display: block;
    margin-bottom: 15px;
    font-size: 80px;
}
.timer__item p {
    display: block;
    font-size: 16px;
}
.mark {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
    font-size: 14px;
    color:rgba(255, 255, 255, .7);
}

@media(max-width: 767.98px) {
    .timer__item {
        width: 120px;
        height: 150px;
    }
    .timer__item span {
        font-size: 70px;
        margin-bottom: 0;
    }
}
@media(max-width: 575.98px) {
    .timer {
        gap: 10px;
    }
    .timer__item {
        width: 70px;
        height: 95px;
    }
    .timer__item span {
        font-size: 40px;
        margin-bottom: 0;
    }
    .timer__item p {
        font-size: 10px;
    }
}